In [1]:
"""
1. Reverse a string.
2. Check if a string is a palindrome.
3. Calculate the factorial of a number.
4. Find the largest element in a list.
5. Count the occurrence of a specific character in a string.
6. Remove duplicates from a list.
7. Sort a list of numbers in ascending order.
8. Find the square root of a number.
9. Check if a number is prime.
10. Concatenate two strings.
11. Convert a string to lowercase.
12. Replace all occurrences of a character in a string.
13. Generate a list of all prime numbers up to a given limit.
14. Calculate the sum of all elements in a list.
15. Find the minimum element in a list.
16. Calculate the power of a number (exponentiation).
17. Find the length of a string.
18. Check if a list is empty.
19. Check if a number is even or odd.
20. Calculate the area of a rectangle.
"""

'\n1. Reverse a string.\n2. Check if a string is a palindrome.\n3. Calculate the factorial of a number.\n4. Find the largest element in a list.\n5. Count the occurrence of a specific character in a string.\n6. Remove duplicates from a list.\n7. Sort a list of numbers in ascending order.\n8. Find the square root of a number.\n9. Check if a number is prime.\n10. Concatenate two strings.\n11. Convert a string to lowercase.\n12. Replace all occurrences of a character in a string.\n13. Generate a list of all prime numbers up to a given limit.\n14. Calculate the sum of all elements in a list.\n15. Find the minimum element in a list.\n16. Calculate the power of a number (exponentiation).\n17. Find the length of a string.\n18. Check if a list is empty.\n19. Check if a number is even or odd.\n20. Calculate the area of a rectangle.\n'

In [2]:
# 1. Reverse a string.
def reverse(n):
    n = n[::-1]
    return n 
reverse("Rishabh")

'hbahsiR'

In [3]:
# 2. Check if a string is a palindrome.
def pali(str):
    if str[::-1] == str[0::] :
         print("this word is the palindrome")
    else:
         print("This word is not a palindrome")
           

str = input("Enter any word to check this is palidrome or not" )
pali(str)

Enter any word to check this is palidrome or not zzz

this word is the palindrome

In [4]:
# 3. Calculate the factorial of a number.
def factorial_number(n):
    if n == 0 and n == 1 :
        return 1
    else :
        n = n * (n-1)

for i in n :
    n = n - i

NameError: name 'n' is not defined

In [ ]:
# 4. Find the largest element in a list.
def max_list(list):
     list = [1,2,3,4,5,6,7,8,9,9,78,45,56,89,12,23,4,556,7,88,94,55,6,12,12,23,64,6,46,4,9,65,56,56,89,7,946,5,]
     max_num = max(list)
     return max_num

max_list(list)

In [13]:
# 5. Count the occurrence of a specific character in a string.

7

In [14]:

# count the char of string with len function 
def count(str):
    str = "Rishabh"
    count_str = len(str)
    return count_str

count(str)

7

In [18]:

# count the char without using len func
def withoutlen(name):
    
    name = input("enter the number ")
    a = 0
    for i in name:
        a = a+1
    return a
        
xyz = withoutlen(name)
print(xyz)

enter the number  rishabhb

8

In [ ]:
for i in range(5):

In [ ]:
# 6. Remove duplicates from a list.

list = [1,2,33,444,44,444,33,2,11,1,7,8,9,0,10]

print(set(list))

In [ ]:
7. Sort a list of numbers in ascending order.

In [19]:
# 8. Find the square of a number.
def findsq(num):
    square = num * num
    return square
num = int(input("Enter the number "))
findsq(num)

Enter the number  45

2025

In [22]:
# 8. Find the square root of a number.
def findsqroot(num):
    squareroot = num ** 0.5
    return squareroot

num = int(input("Enter the number "))
findsqroot(num)

Enter the number  45

6.708203932499369

In [26]:
# 9. Check if a number is prime.

def primenumber(z):
    if z % 2 != 0:
        print('This number is not a orime number ")

SyntaxError: incomplete input (807557024.py, line 7)

In [27]:
# 10. Concatenate two strings.
def concatenate(a,b):
    z = a + b 
    print(z)

a = input("Enter first string : ")
b = input("Enter second string : ")
concatenate(a,b)


# dont check

Enter first string :  rishasbh
Enter second string :  vaibahv

rishasbhvaibahv

In [30]:
# 11. Convert a string to lowercase.

def lowercase(a):
    a = a.lower()
    return a

a = input("enter any str: ")

lowercase(a)

enter any str:  Rv

'rv'

In [ ]:
# 12. Replace all occurrences of a character in a string.
def replace_occurrences(any_string):

In [ ]:
13. Generate a list of all prime numbers up to a given limit.

In [29]:
# 14. Calculate the sum of all elements in a list.
list1 = [1,2,3,4,5,6,7,8,9,10]
total = 0
for i in range(0,len(list1)):
    total = total + list1[i]
print(total)

55

In [35]:
# Find the length of a string.

str = "Rishabh"
list1 = []
length = str[-1] + str[0]
print(length)
for i in str:
    print(i)
    li
print(list1)

hR
R

AttributeError: 'str' object has no attribute 'append'

In [ ]:
str

In [30]:
# 20. Calculate the area of a rectangle.